* {
    margin: 0px;
    padding: 0px;
  }
  
  .p1 {
    display: flex;
    justify-content: center;
    background-color: #9AC259;
    height: 80px;
  
  }
  .proj{
    color: red;
  }
  
  .p4 {
    width: 100%;
    font-family: 'Jost', sans-serif;
  
    font-size: 40px;
    color: black;
    margin-right: 700px;
  
    /* padding-left: 80px; */
    /* padding: 0px 200px; */
    margin-top: 10px;
  
  
  }
  
  .c {
    background-color: rgb(0, 0, 0);
    color: white;
    width: 100%;
    height: 60px;
  }
  
  .c1 {
    display: flex;
    justify-content: end;
    width: 100%;
  }
  
  li {
    margin: 15px 60px;
    list-style-type: none;
    font-size: 20px;
  
  }
  
  /* ul {
    width: 60%;
  
  } */
  ul,a{
    width: 60%;
    text-decoration:none ;
    color: white;
   }
   .come{
    font-family: 'Lexend Exa', sans-serif;
    color:#C78CF6;
    text-align: center;
    margin-top: 80px;
   }
   .content{
    font-family: 'Lexend Exa', sans-serif;
    font-size: 18px;
    /* padding: 30px 300px; */
    text-align: center;
    margin-top: 70px;
   }
   .our{
    text-align: center;
    color: #C78CF6;
    font-family: 'Lexend Exa', sans-serif;
    margin-top: 80px;
   }
   .right{
    width: 15%;
    margin: auto;
    position: absolute;
    left: 40%;
    top: 529px;
    margin-left: -275px;

   }
   .left{
    width: 15%;
    position: absolute;
    right: 21%;
    top: 529px;
   }
   .maindiv{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
   }
   .maindiv1{
    padding-left: 470px;
    padding-top: 100px;
   }
   .load{
    
    width: 100px;
    height: 40px;
    margin-top: 50px;
    margin-left: 700px;
    background-color:black;
    border-radius: 10px;
    border-color:black;
    color: white;
    font-size: 16px;
    font-weight: bold;
   }
   .what{
    font-family: 'Alike', serif;
    color: #456696;
    text-align: center;
    margin-top: 60px;
    font-size: 25px;
    margin-left: 23px;
   }
   .wraith{
    text-align: center;
    font-size: 20px;
    font-family: 'Alike', serif;
    margin-top: 40px;
   }
   .font1{
    font-family: 'Jost', sans-serif;
  }
  .fonts{
    font-family: 'Kite One', sans-serif;
    color: white;
  
  }
  .p12,.p13{
    font-family: 'Kite One', sans-serif;
    color: white;
  }
  .footer1{
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
    margin-left: 250px;
    margin-right: 250px;
  }
  .footer12{
    background-color: #908C8C;
    height: 400px;
    
  }
  .subdivfooter1,.subdivfooter2{
    margin-top: 60px;
  }
  .span1{
    color: red;
  }
  .last{
    text-align: center;
    
    font-size: 20px;
    background-color: black;
    color: white;
    height: 50px;
    padding-top: 15px;
  }
  /* footer{
    margin-bottom: 300px;
  } */