* {
    margin: 0px;
    padding: 0px;
  }
  
  .p1 {
    display: flex;
    justify-content: center;
    background-color: #9AC259;
    height: 100px;
    margin-top: -20px;
  
  }
  
  .p4 {
    width: 100%;
    font-family: 'Jost', sans-serif;
    color: black;
    margin-right: 900px;
    font-size: 40px;
    /* height: 100px; */
    margin-top: 30px;
    
    /* padding-left: 80px; */
    /* padding: 15px 200px; */
    /* margin-top: 20px; */
  
  
  }
  
  .c{
    background-color: rgb(0, 0, 0);
    /* color: rgb(250, 250, 250); */
    width: 100%;
    height: 60px;
    list-style-type: none;
  }
  
  .c1 {
    display: flex;
    justify-content: end;
    width: 100%;
  }
  .proj{
    color: red;
  }
  
  li {
    margin: 15px 60px;
     list-style-type: none; 
    font-size: 20px;
    
  }
  
  ul,a{
    width: 60%;
    text-decoration:none ;
    color: white;
   }
   .our{
    font-family: 'Lexend Giga', sans-serif;
    font-size: 35px;
    margin-top: -550px;
    padding-left: 200px;
   }
   .maindiv1{
    margin-top: 550px;
    display: flex;
    justify-content: space-around;
   }
   .move{
    padding-left: 75px;
    margin-top: 20px;
   }
   .move1{
    padding-left: 98px;
    margin-top: 20px;
   }
   .maindiv2{
    display: flex;
    justify-content: space-around;
   }
   .move2{
    padding-left: 75px;
    margin-top: 20px;
   }
   .move3{
    padding-left: 98px;
    margin-top: 20px;
   }
   .subdiv3,.subdiv4{
    margin-top: 90px;
   }
    hr{ 
    width: 100%;
    height: 20px;
    color: rgb(145, 145, 145);
    margin-top: 100px;
   } 
  .pic{
    margin-top: 90px;
  }
  .maindiv{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    background-color: black;
    color: white;
    height: 100px;
    
}
.maindiv h2{
    padding: 10px;
}
.year1,.year2,.year3{
    color: #FEE507;
}
.subdiv3{
    padding: 20px;
    margin-top: -19px;
    /* margin-top: 60px; */
}
.footer1{
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
    margin-left: 250px;
    margin-right: 250px;
  }
  .footer12{
    background-color: #908C8C;
    height: 400px;
  }
  .subdivfooter1,.subdivfooter2{
    margin-top: 60px;
  }
  .span1{
    color: red;
  }
  .last{
    text-align: center;
    
    font-size: 20px;
    background-color: black;
    color: white;
    height: 50px;
    padding-top: 15px;
  }
  .font1{
    font-family: 'Jost', sans-serif;
  }
  .fonts{
    font-family: 'Kite One', sans-serif;
    color: white;
  
  }
  .p12,.p13{
    font-family: 'Kite One', sans-serif;
    color: white;
  }
  header,main,footer{
    overflow: hidden;
  }
   
 